<h1>Admin::Articles#index</h1>
<div class="card">
  <div class="card-header" id="head">
    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse" aria-expanded="true" aria-controls="collapse">
      <i class="fas fa-search">検索</i>
    </button>
    <% items = ["", "タグ", "評価", "言語", "レベル"] %>
    <% if !@p.blank? %>
      <% for i in 0..items.length do %>
        <% unless @p.values[i].blank? %>
          <i class="fas fa-search mr-1"><%= "#{items[i]}:#{@p.values[i]}" %></i>
        <% end %>
      <% end %>
      <%= link_to "検索をキャンセル", admin_articles_pat, class: "btn btn-outline-danger" %>
    <% end %>
  </div>
  <div class="card-body">
    <%= search_form_for @q, url: admin_articles_path do |f| %>
      <%= f.label :title, "キーワード" %>
      <%= f.search_field :title_or_content_cont_all, class: "form-control mr-sm-2" %>
      <%= f.label :title, "タグ" %>
      <%= f.search_field :tags_name_eq, class: "form-control mr-sm-2" %>
      <%= f.label :rate, " 総合評価" %>
      <%= f.number_field :rate_lteq_all, min:1, max:5, class: "form-control mr-sm-2" %>以下
      <%= f.label :language, "学習言語を登録" %>
      <%= f.collection_select :user_language_eq_all, @languages, :language, :language, {prompt: "選択してください"}, class: "custom-select mr-sm-2" %><br>
      <%= f.label :level, "学習レベルを登録" %>
      <%= f.select :user_level_eq, User.levels.map {|k| [k, k]},{ include_blank: '選択してください' }, class: "custom-select mr-sm-2" %>
      <%= f.submit "検索", class: "btn btn-outline-success" %>
    <% end %>
  </div>
</div>
<% @articles.each do |article| %>
  <%= article.title %>
<% end %>