<div class="container">
  <h1>映画検索</h1>
  <p>インクリメンタルサーチ、非同期でスムーズにAPI結果を表示</p>
  <div class="loop_wrap">
    <%= form_with model: @movie, url:learner_movies_path do |f| %>
      <%= f.text_field :search_word, id: "movie-search-field", class: "form-control-lg movie-search-field" %>
      <%= f.submit "検索", id: "search_btn", class: "btn btn-success btn-lg movie-search-btn" %>
    <% end %>
  <table>
    <tr>
    <% @images.each do |image| %>
      <td><%= image_tag image.image_id %></td>
    <% end %>
    </tr>
    <tr>
    <% @images.each do |image| %>
      <td><%= image_tag image.image_id %></td>
    <% end %>
    </tr>
  </table>
</div>
</div>
<div id="movie_list" class="row"></div>