<% comments.eager_load([:user]).each do |comment| %>
  <%# replyカラムがnull（空）の場合（返信ではない場合） %>
  <% if comment.reply_to.blank? %>
  <%# ユーザーアイコン, 名前 %>
  <div class="destroy_<%= comment.id %>">
    <%= link_to learner_user_path(comment.user.id) do %>
      <%= attachment_image_tag comment.user, :image, size: "50x50", fallback: "no_image.jpg", style: "border-radius: 18px;" %>
      <small>
        <%= comment.user.name %>
      </small>
    <% end %>
    <%# 返信ボタン、削除ボタンを表示 %>
      <%# コメントした本人であれば返信ボタンと削除ボタンを表示 %>
      <% if current_learner_user.id == comment.user.id %>
        <i class="reply_icon">
          <svg width="2em" height="2em" viewBox="0 0 16 16" id="form<%= comment.id %>" class="bi bi-reply reply-btn" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M9.502 5.013a.144.144 0 0 0-.202.134V6.3a.5.5 0 0 1-.5.5c-.667 0-2.013.005-3.3.822-.984.624-1.99 1.76-2.595 3.876C3.925 10.515 5.09 9.982 6.11 9.7a8.741 8.741 0 0 1 1.921-.306 7.403 7.403 0 0 1 .798.008h.013l.005.001h.001L8.8 9.9l.05-.498a.5.5 0 0 1 .45.498v1.153c0 .108.11.176.202.134l3.984-2.933a.494.494 0 0 1 .042-.028.147.147 0 0 0 0-.252.494.494 0 0 1-.042-.028L9.502 5.013zM8.3 10.386a7.745 7.745 0 0 0-1.923.277c-1.326.368-2.896 1.201-3.94 3.08a.5.5 0 0 1-.933-.305c.464-3.71 1.886-5.662 3.46-6.66 1.245-.79 2.527-.942 3.336-.971v-.66a1.144 1.144 0 0 1 1.767-.96l3.994 2.94a1.147 1.147 0 0 1 0 1.946l-3.994 2.94a1.144 1.144 0 0 1-1.767-.96v-.667z"/>
          </svg> 
          <%= link_to learner_movie_article_comment_path(comment.article.movie.id, comment.article_id, comment.id), method: :delete, remote: true do %>
            <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
              <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
            </svg>
          <% end %>
        </i>
      <% else %>
      <%# コメントした人でない場合返信ボタンのみ表示 %>
        <i class="reply_icon">
          <svg width="2em" height="2em" viewBox="0 0 16 16" id="form<%= comment.id %>" class="bi bi-reply reply-btn" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M9.502 5.013a.144.144 0 0 0-.202.134V6.3a.5.5 0 0 1-.5.5c-.667 0-2.013.005-3.3.822-.984.624-1.99 1.76-2.595 3.876C3.925 10.515 5.09 9.982 6.11 9.7a8.741 8.741 0 0 1 1.921-.306 7.403 7.403 0 0 1 .798.008h.013l.005.001h.001L8.8 9.9l.05-.498a.5.5 0 0 1 .45.498v1.153c0 .108.11.176.202.134l3.984-2.933a.494.494 0 0 1 .042-.028.147.147 0 0 0 0-.252.494.494 0 0 1-.042-.028L9.502 5.013zM8.3 10.386a7.745 7.745 0 0 0-1.923.277c-1.326.368-2.896 1.201-3.94 3.08a.5.5 0 0 1-.933-.305c.464-3.71 1.886-5.662 3.46-6.66 1.245-.79 2.527-.942 3.336-.971v-.66a1.144 1.144 0 0 1 1.767-.96l3.994 2.94a1.147 1.147 0 0 1 0 1.946l-3.994 2.94a1.144 1.144 0 0 1-1.767-.96v-.667z"/>
          </svg>
        </i>
      <% end %>
    <%# コメント %>
      <div class="comment_user_name">
        <%= comment.content %>
      </div>
    <% unless(comment.replies.count < 1) %>  
      <div id="list<%= comment.id %>" class="show-replies" >
        <%= "#{comment.replies.count} 件のコメント" %>
      </div>
    <% end %>
  </div>
<% end %>
<% if learner_user_signed_in? && comment.reply_to.blank? %>
  <div class="comment_reply_form">
  <%# コメントフォーム %>
    <%= form_with model: new_comment, url: learner_movie_article_comments_path(article.movie.id, article.id), method: :post, id: "show-form#{comment.id}", class: "reply-form " do |f| %>
      <%= f.text_field :content, placeholder: "返信を入力", id: "reply-text", class: "form-control" %>
      <%= f.hidden_field :reply_to, value: comment.id %>
      <i class="fas fa-window-close fa-2x fa-fw reply_cansel_btn"></i>
    <% end %>
  </div>
<% end %>
<%# 返信コメントを降順に定義 %>
<% comment_replies = comment.replies.order(created_at: "desc") %>
<div id="show-list<%=comment.id%>" class="reply-list" style="display: none;" >
  <% comment_replies.each do |reply| %>
    <div class="ml-5 destroy_<%=reply.id %>">
      <%# 返信数の表示 %>
      <%= link_to learner_user_path(comment.user.id) do %>
        <%= attachment_image_tag reply.user, :image, size: "50x50", fallback: "no_image.jpg", style: "border-radius: 18px;" %>
        <small>
          <%= reply.user.name %>
        </small>
      <% end %>
      <%# 返信ボタン、削除ボタンを表示 %>
      <%# 本人コメント本人であれば返信ボタンと削除ボタンを表示 %>
      <%# 返信内容 %>
      <%= reply.content %>
        <% if current_learner_user.id == reply.user.id %>
          <i class="reply_icon">
            <%= link_to learner_movie_article_comment_path(reply.article.movie.id,reply.article_id, reply.id), method: :delete, remote: true do %>
              <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
              </svg>
            <% end %>
          </i>
        <% end %>
    </div><%# 子コメント用マージンL %>
  <% end %>
</div>
<% end %>