<h1>記事一覧</h1>
<p>Find me in app/views/learner/articles/index.html.erb</p>

<% @articles.each do |article| %>
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <%= image_tag article.movie.image_id, size: "200x300" %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <%= link_to learner_movie_article_path(article.movie_id, article) do %>
            <h5 class="card-title"><%= article.movie.title %></h5>
          <% end %>
          <h5 class="card-title"><%= article.title %></h5>
          <p class="card-text"><%= article.content %></p>
            <p class="card-text"><%= article.rate %></p>
          <%= link_to learner_user_path(article.user) do %>
            <p class="card-text"><%= article.user.name %></p>
          <% end %>
          <p class="card-text"><small class="text-muted"><%= article.created_at %></small></p>
        </div>
      </div>
    </div>
  </div>
<% end %>