<div class="bg-index pt-5">
<div class="row col-lg-11 mx-auto pr-0">
  <div class="col-lg-9 col-11">
    <div class="accordion col-lg-12" id="accordionExample">
      <div class="card">
        <div class="card-header" id="head">
          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse" aria-expanded="true" aria-controls="collapse">
            <i class="fas fa-search">検索</i>
          </button>
          <% items = ["", "タグ", "評価", "言語", "レベル"] %>
          <% if !@p.blank? %>
            <% for i in 0..items.length do %>
              <% unless @p.values[i].blank? %>
                <i class="fas fa-search mr-1"><%= "#{items[i]}:#{@p.values[i]}" %></i>
              <% end %>
            <% end %>
            <%= link_to "検索をキャンセル", learner_articles_path, class: "btn btn-outline-danger" %>
          <% end %>
        </div>
        <div id="collapse" class="collapse" aria-labelledby="head" data-parent="#accordionExample">
          <div class="card-body">
            <%= search_form_for @q, url: learner_articles_path do |f| %>
              <%= f.label :title, "キーワード" %>
              <%= f.search_field :title_or_content_cont_all, class: "form-control mr-sm-2" %>
              <%= f.label :title, "タグ" %>
              <%= f.search_field :tags_name_eq, class: "form-control mr-sm-2" %>
              <%= f.label :rate, "★ 総合評価" %>
              <%= f.number_field :rate_gteq_all, min:1, max:5, class: "form-control mr-sm-2" %>以上
              <%= f.label :language, "学習言語を登録" %>
              <%= f.collection_select :user_language_eq_all, @languages, :language, :language, {prompt: "選択してください"}, class: "custom-select mr-sm-2" %><br>
              <%= f.label :level, "学習レベルを登録" %>
              <%= f.select :user_level_eq, User.levels.keys.map {|k| [k, k]},{ include_blank: '選択してください' }, class: "custom-select mr-sm-2" %>
              <button class="sub-btn d-block ml-auto mt-3">検索</button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12">
      <% @articles.preload([:user]).preload([:movie]).each do |article| %>
      <% if article.movie_id != 1 %>
      <%= render 'article', article: article %>
      <% else %>
      <%= render 'tipcorn', article: article %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3 p-0 ranking">
    <ul class="list-group mb-3">
      <li class="list-group-item list-group-item-secondary">
        <i class="far fa-newspaper">人気の記事(<%= current_learner_user.language %>記事)</i>
      </li>
        <% @pv_ranking.each do |rank_article| %>
          <%= link_to learner_movie_article_path(rank_article.movie_id, rank_article) do %>
            <li class="list-group-item"><%= truncate(rank_article.title, length: 30) %></li>
          <% end %>
        <% end %>
    </ul>
    <ul class="list-group mt-3">
      <li class="list-group-item list-group-item-secondary">
        <i class="fas fa-users">人気の投稿者</i>
      </li>
        <% @user_ranking.each do |rank_user| %>
          <%= link_to learner_user_path(rank_user) do %>
            <li class="list-group-item"><%= rank_user.name %></li>
          <% end %>
        <% end %>
    </ul>
    <ul class="list-group mt-3">
      <li class="list-group-item list-group-item-secondary">
        <i class="fas fa-tags mr-1 fa-border"><%= tag.name %>人気のタグ</i>
      </li>
      <li class="list-group-item">
        <% @tag_ranking.each do |tag| %>
          <%= link_to learner_articles_path q: {tags_name_eq: tag.name} do %>
            <i class="fas fa-tag mr-1 fa-border"><%= tag.name %></i>
          <% end %>
        <% end %>
      </li>
    </ul>
  </div>
</div>
    <div class="pagination-wrap container p-5">
      <%= paginate @articles %>
    </div>
</div>