<div class="bg-index pt-5">
  <div class="container">
    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="head">
          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse" aria-expanded="true" aria-controls="collapse">
            <i class="fas fa-search">検索</i>
          </button>
          <% items = ["", "タグ", "評価", "言語", "レベル"] %>
          <% if !@p.blank? %>
            <% for i in 0..items.length do %>
              <% unless @p.values[i].blank? %>
                <i class="fas fa-search mr-1"><%= "#{items[i]}:#{@p.values[i]}" %></i>
              <% end %>
            <% end %>
            <%= link_to "検索をキャンセル", learner_articles_path, class: "btn btn-outline-danger" %>
          <% end %>
        </div>
        <div id="collapse" class="collapse" aria-labelledby="head" data-parent="#accordionExample">
          <div class="card-body">
            <%= search_form_for @q, url: learner_articles_path do |f| %>
              <%= f.label :title, "キーワード" %>
              <%= f.search_field :title_or_content_cont_all, class: "form-control mr-sm-2" %>
              <%= f.label :title, "タグ" %>
              <%= f.search_field :tags_name_eq, class: "form-control mr-sm-2" %>
              <%= f.label :rate, "★ 総合評価" %>
              <%= f.number_field :rate_gteq_all, min:1, max:5, class: "form-control mr-sm-2" %>以上
              <%= f.label :language, "学習言語を登録" %>
              <%= f.collection_select :user_language_eq_all, @languages, :language, :language, {prompt: "選択してください"}, class: "custom-select mr-sm-2" %><br>
              <%= f.label :level, "学習レベルを登録" %>
              <%= f.select :user_level_eq, User.levels.keys.map {|k| [k, k]},{ include_blank: '選択してください' }, class: "custom-select mr-sm-2" %>
              <button class="sub-btn d-block ml-auto mt-3">検索</button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% @articles.preload([:user]).preload([:movie]).each do |article| %>
    <% if article.movie_id != 1 %>
    <%= render 'article', article: article %>
    <% else %>
    <%= render 'tipcorn', article: article %>
      <% end %>
    <% end %>
    <div class="pagination-wrap mx-auto">
      <%= paginate @articles %>
    </div>
  </div>
</div>