<h1>新規投稿</h1>
<p>Find me in app/views/learner/articles/new.html.erb</p>
<%# 投稿映画情報 %>
<div class="card mb-3" style="max-width: 1200px;">
  <div class="row no-gutters">
    <div class="col-md-3">
      <%= image_tag @movie.image_id, size: '200x300' %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 id="MovieTitle" class="card-title"><%= @movie.title %></h5>
        <p class="card-text"><%= @movie.overview %></p>
        <p class="card-text"><small class="text-muted"><%= @movie.created_at %></small></p>
      </div>
    </div>
  </div>
</div>

<%# 投稿フォーム %>
<div class="card mb-3" style="max-width: 1200px;">
  <div class="row no-gutters">
    <div class="col-md-8">
      <canvas id="myRaderChart"></canvas>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title">記事入力</h4>
        <%= form_with model: @article, url: learner_movie_articles_path do |f| %>
          <%= f.label :title, "タイトル" %>
          <%= f.text_field :title %><br>
          <%= f.label :content, "内容" %>
          <%= f.text_area :content %>

          <div class="rate-range">
            <%= f.label :difficulty, "難易度" %>
            <%= f.range_field :difficulty, in: 1..5, id:"difficulty" %>
            <span id="value"></span>
          </div>
          <div class="rate-range">
            <%= f.label :length, "映画の長さ" %>
            <%= f.range_field :length, in: 1..5, id:"length" %>
            <span id="value"></span>
          </div>
          <div class="rate-range">
            <%= f.label :practicality, "実用性" %>
            <%= f.range_field :practicality, in: 1..5, id:"practicality" %>
            <span id="value"></span>
          <div class="rate-range">
            <%= f.label :speed, "スピード" %>
            <%= f.range_field :speed, in: 1..5, id:"speed" %>
            <span id="value"></span>
          </div>
          <div class="rate-range">
            <%= f.label :accent, "発音のクセ" %>
            <%= f.range_field :accent, in: 1..5, id:"accent" %>
            <span id="value"></span>
          </div>
          <div class="rate-range">
            <%= f.label :rate, "総合評価" %>
            <%= f.range_field :rate, in: 1..5 %>
            <span id="value"></span>
          </div>
          <%= f.hidden_field :movie_id, value: @movie.id %>
          <%= f.submit "送信", class: "btn btn-outline-info" %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<%# 　chart.js CDN　 %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
<%# レンジバーの描写 %>
<script>
(function() {
  var params = document.getElementsByClassName('rate-range'); // の増減
  var rate = function (params, stars) {
    return function(evt) {
      apple = ""
      stars.innerHTML = apple.repeat( params.value );
      var ctx = document.getElementById("myRaderChart");
      var movie_title = document.getElementById("MovieTitle");
      var difficulty = document.getElementById("difficulty").value;
      var length = document.getElementById("length").value;
      var practicality = document.getElementById("practicality").value;
      var speed = document.getElementById("speed").value;
      var accent = document.getElementById("accent").value;
      var paramater = ["難易度", "長さ", "実用性", "早さ", "クセ"]
      var data = [difficulty, length, practicality, speed, accent]
      var myRadarChart = new Chart(ctx, {
        type: 'radar', 
          data: { 
            labels: paramater,
            datasets: [{
              label: movie_title.textContent,
                  data: data,
                  backgroundColor: 'RGBA(225,95,150, 0.5)',
                  pointBackgroundColor: 'RGB(46,106,177)',
                  borderColor: 'RGBA(225,95,150, 1)',
                  borderWidth: 2
              }]
          },
          options: {
            title: {
              display: true,
                  text: "評価"
              },
              scale:{
                ticks:{
                  suggestedMin: 0,
                      suggestedMax: 5,
                      stepSize: 1,
                      callback: function(value, index, values){
                        return  value
                      }
                  }
              }
          }
      });
    }
  }
  for(var i = 0, max = params.length; i < max; i++){
    range_bar = params[i].getElementsByTagName('input')[0];
    stars = params[i].getElementsByTagName('span')[0];
    range_bar.addEventListener('input', rate(range_bar , stars));
  }
}());
  </script>