<h1>記事詳細</h1>
<p>Find me in app/views/learner/articles/show.html.erb</p>
<%# 記事詳細カード %>
<div class="card mb-3" style="max-width: 1200px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <%= image_tag @article.movie.image_id, size: "300x450" %>
    </div>

    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= @article.movie.title %></h5>
        <p class="card-text"><%= @article.movie.overview %></p>
        <h5 class="card-title"><%= @article.title %></h5>
        <p class="card-text"><%= @article.content %></p>
        <p class="card-text"><%= @article.user.name %></p>
        <p class="card-text">総合評価：<%= @article.rate %></p>
        <p class="card-text">難易度：<%= @article.difficulty %></p>
        <p class="card-text">映画の長さ：<%= @article.length %></p>
        <p class="card-text">実用性：<%= @article.practicality %></p>
        <p class="card-text">スピード：<%= @article.speed %></p>
        <p class="card-text">発音のクセ：<%= @article.accent %></p>
        <p class="card-text"><small class="text-muted"><%= @article.created_at %></small></p>
        <p id="favorite-<%= @article.id %>"><%= render 'favorite', article: @article %></p>
      </div>
    </div>
  </div>
</div>

<%# コメントフォーム %>
<%= form_with model: @new_comment, url: learner_movie_article_comments_path(@article.movie.id, @article.id), method: :post do |f| %>
  <%= f.text_area :content %>
  <%= f.submit "コメント", class: "btn btn-primary" %>
  <%= f.hidden_field :article_id, value: @article.id %>
<% end %>

<%# コメント表示 %>
<div id="comment_render">
  <%= render 'comment', {comments: @comments, new_comment: @new_comment, article: @article} %>
</div>