<div class="article-show-bg col-lg-12 p-0">
  <% if @article.movie_id != 1 %>
    <%= image_tag @article.movie.image_id, class: "bg-img-show", fallback: "sign-up.jpg" %>
  <% else %>
    <%= attachment_image_tag @article, :image, class: "bg-img-show", fallback: "bg-popcorn.jpg" %>
  <% end %>
  <div class="show-bg">
    <div class="card container mt-5" style="background: rgba(255,255,255,0.7);">
      <h1>詳細ページ</h1>
      <%# 記事詳細カード %>
      <% if @article.movie_id != 1 %>
        <div class="card mb-3">
          <div class="row no-gutters">
            <div class="col-lg-4 text-center p-y2">
              <%= image_tag @article.movie.image_id, size: "350x495" %>
            </div>
              <div class="col-lg-8">
                <div class="card-body">
                  <h5 id="showMovieTitle" class="card-title"><%= @article.movie.title %></h5>
                  <p class="card-text"><%= @article.movie.overview %></p>
                  <strong id="favorite-<%= @article.id %>"><%= render 'favorite', article: @article %></strong>
                  <h5 class="card-title"><%= @article.title %></h5>
                    <p class="card-text"><%= @article.content %></p>
                    <% @article.tags.each do |tag| %>
                      <%= link_to learner_articles_path q: {tags_name_eq: tag.name} do %>
                        <i class="fas fa-tag mr-1 fa-border"><%= tag.name %></i>
                      <% end %>
                    <% end %>
                <div class="row">
                  <canvas id="showRaderChart" class="col-lg-8"></canvas>
                  <ul class="col-lg-4 ml-auto">
                    <li class="card-text">総合評価：★<%= @article.rate %></li>
                    <li class="card-text">難易度：★<%= @article.difficulty %></li>
                    <li class="card-text">映画の長さ：★<%= @article.length %></li>
                    <li class="card-text">実用性：★<%= @article.practicality %></li>
                    <li class="card-text">スピード：★<%= @article.speed %></li>
                    <li class="card-text">発音のクセ：★<%= @article.accent %></li>
                    <li class="card-text"><small class="text-muted"><%= l @article.created_at %><%= @article.user.name %></small></li>
                    <% if @article.user_id == current_learner_user.id %>
                      <%= link_to edit_learner_movie_article_path(@article.movie_id,@article.id) do %>
                        <button class="article-show-edit-btn"><i class="fas fa-edit"></i>編集</button>
                      <% end %>
                      <%= link_to learner_movie_article_path(@article.movie_id,@article.id), data: { confirm: '削除しますか？'}, method: :delete do %>
                        <button class="article-show-delete-btn"><i class="fas fa-trash-alt"></i>削除</button>
                      <% end %>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% else %>
        <div class="card mb-3">
          <div class="col-lg-10 mx-auto">
            <div class="col-lg-12 text-center p-y2">
              <%= attachment_image_tag @article, :image, fallback: "pop1.jpg", size: "450x336" %>
            </div>
            <div class="col-lg-12">
              <div class="card-body">
                <strong id="favorite-<%= @article.id %>"><%= render 'favorite', article: @article %></strong>
                <h5 class="card-title"><%= @article.title %></h5>
                <p class="card-text"><%= @article.content %></p>
                <% @article.tags.each do |tag| %>
                  <%= link_to learner_articles_path q: {tags_name_eq: tag.name} do %>
                    <i class="fas fa-tag mr-1 fa-border"><%= tag.name %></i>
                  <% end %>
                <% end %>
                  <% if @article.user_id == current_learner_user.id %>
                    <%= link_to edit_learner_movie_article_path(@article.movie_id,@article.id) do %>
                      <i class="fas fa-edit"></i>
                      編集
                    <% end %>
                    <%= link_to learner_movie_article_path(@article.movie_id,@article.id), data: { confirm: '削除しますか？'}, method: :delete do %>
                      <i class="fas fa-trash-alt"></i>
                      削除
                    <% end %>
                  <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <%# コメントフォーム %>
      <div class="form-group container">
        <%= form_with model: @new_comment, url: learner_movie_article_comments_path(@article.movie.id, @article.id), method: :post, class: "row" do |f| %>
          <%= f.text_field :content, placeholder: "コメントを入力(140文字以内)", class: "form-control" %>
          <%= f.hidden_field :article_id, value: @article.id %>
          <button class="main-btn d-block ml-auto mt-1">コメント</button>
        <% end %>
      </div>

      <%# コメント表示 %>
      <div id="comment_render">
        <%= render 'comment', {comments: @comments, new_comment: @new_comment, article: @article} %>
      </div>

      <%# 記事評価データ %>
      <input type="hidden" id="show-difficulty" value="<%= @article.difficulty %>">
      <input type="hidden" id="show-length" value="<%= @article.length %>">
      <input type="hidden" id="show-practicality" value="<%= @article.practicality %>">
      <input type="hidden" id="show-speed" value="<%= @article.speed %>">
      <input type="hidden" id="show-accent" value="<%= @article.accent %>">
    </div>
  </div>
</div>
