<div class="container">
  <h1>記事詳細</h1>
  <%# 記事詳細カード %>
  <% if @article.movie_id != 1 %>
    <div class="card mb-3" style="max-width: 1200px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <%= image_tag @article.movie.image_id, size: "350x495" %>
        </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 id="MovieTitle" class="card-title"><%= @article.movie.title %></h5>
              <p class="card-text"><%= @article.movie.overview %></p>
              <i id="favorite-<%= @article.id %>"><%= render 'favorite', article: @article %></i>
              <h5 class="card-title"><%= @article.title %></h5>
                <p class="card-text"><%= @article.content %></p>
                <% @article.tags.each do |tag| %>
                  <%= link_to "#" do %>
                    <i class="fas fa-tag mr-1 fa-border"><%= tag.name %></i>
                  <% end %>
                <% end %>
            <div class="row">
              <canvas id="myRaderChart" class="col-md-8"></canvas>
              <ul class="col-md-4 ml-auto">
                <li class="card-text">総合評価：<%= @article.rate %></li>
                <li class="card-text">難易度：<%= @article.difficulty %></li>
                <li class="card-text">映画の長さ：<%= @article.length %></li>
                <li class="card-text">実用性：<%= @article.practicality %></li>
                <li class="card-text">スピード：<%= @article.speed %></li>
                <li class="card-text">発音のクセ：<%= @article.accent %></li>
                <li class="card-text"><small class="text-muted"><%= l @article.created_at %><%= @article.user.name %></small></li>
                <%= link_to "編集", edit_learner_movie_article_path(@article) if @article.user_id == current_learner_user.id %>
                <%= link_to "削除", learner_movie_article_path(@article), method: :delete if @article.user_id == current_learner_user.id %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div class="card mb-3" style="max-width: 1200px;">
      <div class="row no-gutters">
        <div class="col-md-6">
          <%= attachment_image_tag @article, :image, size: "450x336" %>
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <i id="favorite-<%= @article.id %>"><%= render 'favorite', article: @article %></i>
            <h5 class="card-title"><%= @article.title %></h5>
            <p class="card-text"><%= @article.content %></p>
            <% @article.tags.each do |tag| %>
              <%= link_to "#" do %>
                <i class="fas fa-tag mr-1 fa-border"><%= tag.name %></i>
              <% end %>
            <% end %>
            <%= link_to "編集", edit_learner_movie_article_path(@article) if @article.user_id == current_learner_user.id %>
            <%= link_to "削除", learner_movie_article_path(@article), method: :delete if @article.user_id == current_learner_user.id %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <%# コメントフォーム %>
  <div class="form-group">
    <%= form_with model: @new_comment, url: learner_movie_article_comments_path(@article.movie.id, @article.id), method: :post, class: "row" do |f| %>
      <%= f.text_field :content, class: "form-control" %>
      <%= f.hidden_field :article_id, value: @article.id %>
      <%= f.submit "コメント", class: "btn btn-outline-dark ml-auto" %>
    <% end %>
  </div>

  <%# コメント表示 %>
  <div id="comment_render">
    <%= render 'comment', {comments: @comments, new_comment: @new_comment, article: @article} %>
  </div>
  <input type="hidden" id="difficulty" value="<%= @article.difficulty %>">
  <input type="hidden" id="length" value="<%= @article.length %>">
  <input type="hidden" id="practicality" value="<%= @article.practicality %>">
  <input type="hidden" id="speed" value="<%= @article.speed %>">
  <input type="hidden" id="accent" value="<%= @article.accent %>">
</div>

<%# レンジバーの描写 %>
<script>
    var ctx = document.getElementById("myRaderChart");
    var movie_title = document.getElementById("MovieTitle");
    var difficulty = document.getElementById("difficulty").value;
    var length = document.getElementById("length").value;
    var practicality = document.getElementById("practicality").value;
    var speed = document.getElementById("speed").value;
    var accent = document.getElementById("accent").value;
    var paramater = ["難易度", "長さ", "実用性", "早さ", "クセ"]
    var data = [difficulty, length, practicality, speed, accent]
    var myRadarChart = new Chart(ctx, {
      type: 'radar', 
        data: { 
          labels: paramater,
          datasets: [{
            label: movie_title.textContent,
                data: data,
                backgroundColor: 'RGBA(45, 117, 255, 0.5)',
                pointBackgroundColor: 'RGB(237,172,38)',
                borderColor: 'RGBA(45, 117, 255, 1)',
                borderWidth: 2
            }]
        },
        options: {
          title: {
            display: true,
                text: "評価"
            },
            scale:{
              ticks:{
                suggestedMin: 0,
                    suggestedMax: 5,
                    stepSize: 1,
                    callback: function(value, index, values){
                      return  value
                    }
                }
            }
        }
    });
  </script>