<div class="primary-nav bg-warning">
  <span class="hamburger open-panel drawer-toggle"></span>
	<nav role="navigation" class="menu">
		<div class="overflow-container">
			<ul class="drawer-menu">
				<li><%= link_to "利用者トップ", root_path, class: "btn btn-outline-dark" %><span class="icon"><i class="fas fa-home"></i></span></li>
        <li><%= link_to "利用者記事一覧", learner_articles_path, class: "btn btn-outline-dark" %><span class="icon"><i class="fas fa-pencil-alt"></i></i></span></li>
        <li><%= link_to "利用者映画検索", learner_search_path, class: "btn btn-outline-dark" %><span class="icon"><i class="fas fa-film"></i></span></li>
        <li><%= link_to "tipcorn", learner_tipcorn_path, class: "btn btn-outline-dark" %><span class="icon"><i class="far fa-sun"></i></span></li>
        <% if current_learner_user %>
          <li><%= link_to "マイページ", learner_user_path(current_learner_user), class: "btn btn-outline-info" %><span class="icon"><i class="fas fa-user-circle"></i></span></li>
        <% end %>
        <li><%= link_to "ユーザサインイン", new_learner_user_registration_path, class: "btn btn-outline-primary" %><span class="icon"><i></i></span></li>
        <li><%= link_to "ユーザログイン", new_learner_user_session_path, class: "btn btn-outline-primary" %><span class="icon"><i></i></span></li>
        <li><%= link_to "ユーザログアウト", destroy_learner_user_session_path, class: "btn btn-outline-primary", method: :delete %><span class="icon">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-door-open-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M1.5 15a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2.5A1.5 1.5 0 0 0 11.5 1H11V.5a.5.5 0 0 0-.57-.495l-7 1A.5.5 0 0 0 3 1.5V15H1.5zM11 2v13h1V2.5a.5.5 0 0 0-.5-.5H11zm-2.5 8c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"/>
        </svg>
        </span></li>
        <li><%= link_to "管理者トップ", admin_root_path, class: "btn btn-outline-danger" %><span class="icon"><i>©</i></span></li>
        <li><%= link_to "管理者利用者一覧", admin_users_path, class: "btn btn-outline-danger" %><span class="icon"><i>©</i></span></li>
        <li><%= link_to "管理者記事一覧", admin_articles_path, class: "btn btn-outline-danger" %><span class="icon"><i>©</i></span></li>
        <li><%= link_to "管理者コメント一覧", admin_comments_path, class: "btn btn-outline-danger" %><span class="icon"><i>©</i></span></li>
        <li><%= link_to "管理者タグ一覧", admin_tags_path, class: "btn btn-outline-danger" %><span class="icon"><i>©</i></span></li>
        <li><%= link_to "管理者ログイン", new_admin_admin_session_path, class: "btn btn-outline-danger" %><span class="icon"><i>©</i></span></li>
        <li><%= link_to "管理者ログアウト", destroy_admin_admin_session_path, class: "btn btn-outline-danger", method: :delete %><span class="icon"><i>©</i></span></li>
			</ul>
		</div>
	</nav>
</div>