<div class="show-header col-md-12 p-0">
  <%= attachment_image_tag @user, :image, class: "bg-img-show", fallback: "no_image.jpg" %>
  <div class="show-bg">
    <div class="container">
      <div class="row p-auto">
        <div class="show-info-left col-md-3 text-center py-auto my-auto align-middle">
          <%= attachment_image_tag @user, :image,class: "mb-4", size: "180x180", fallback: "no_image.jpg", style: "border-radius: 18px;" %>
          <%# フォローボタン %>
          <%= render 'follow_form', user: @user %>
        </div>
        <div class="show-info-right col-md-9">
          <h3 class="mb-3"><%= @user.name %> さんのページ</h3>
          自己紹介：<br>
          <h5><%= @user.introduction %></h5>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <% if current_learner_user.id == @user.id %>
    <%= link_to edit_learner_user_path(current_learner_user), class: "sub-btn d-block ml-auto my-2" do %>
      プロフィール編集
    <% end %>
  <% end %>
  <div class="m-2"></div>
  <%# プロフィール %>
  <table class="table">
    <tbody>
      <% if @user.id == current_learner_user.id %>
        <tr>
          <th scope="row">メールアドレス</th>
          <td><%= @user.email %></td>
        </tr>
      <% end %>
      <tr>
        <th scope="row">学習言語</th>
        <td><%= @user.language %></td>
      </tr>
      <tr>
        <th scope="row">学習レベル</th>
        <td><%= @user.level %></td>
      </tr>
      <tr>
        <th scope="row">ご利用開始日時</th>
        <td><%= l @user.created_at %>からご利用</td>
      </tr>
    </tbody>
  </table>

  <%# タブ %>
  <div class="card text-center">
    <div class="card-header pb-0">
      <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="post-tag" data-toggle="tab" href="#post" role="tab" aria-controls="post" aria-selected="false">投稿記事 <%= @user.articles.count %>件</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="article-tag" data-toggle="tab" href="#article" role="tab" aria-controls="article" aria-selected="false">お気に入り記事 <%= @articles.count %>件</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="follower-tab" data-toggle="tab" href="#follower" role="tab" aria-controls="follower" aria-selected="false">フォロワー <%= @user.followers.count %> 人</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="follow-tab" data-toggle="tab" href="#follow" role="tab" aria-controls="follow" aria-selected="true">フォロー <%= @user.following.count %> 人</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="post" role="tabpanel" aria-labelledby="post">
          <%# 投稿記事 表示%>
          <%= render 'article_index', articles: @posts %>
        </div>
        <div class="tab-pane fade" id="article" role="tabpanel" aria-labelledby="article">
          <%# お気に入り記事表示 %>
          <%= render 'article_index', articles: @articles %>
        </div>
        <div class="tab-pane fade" id="follow" role="tabpanel" aria-labelledby="follow-tab">
          <%= render 'relation_list', relations: @follows %>
        </div>
        <div class="tab-pane fade" id="follower" role="tabpanel" aria-labelledby="follower-tab">
          <%= render 'relation_list', relations: @followers %>
        </div>
      </div>
    </div>
  </div>
</div>
