<div class="top-movie">
  <%= video_tag("/assets/videos/video.mp4", autoplay: true, loop: true, muted: true ) %>
  <%= link_to "サインイン", new_learner_user_registration_path, class: "btn btn-primary btn-lg sign-up-top" %>
  <%= link_to "ログイン", new_learner_user_session_path, class: "btn btn-success btn-lg sign-in-top" %>
</div>

<div class="splash-container">
  <div class="content">
    <p class="splash-1">"The wisest are the most annoyed at the loss of time."<br>
      <small>-Dante Alighieri-(1265～1321)</small>
    </p>
    <%= image_tag 'NoM-logo.png', class: "splash-2" %>
  </div>
</div>

<h1>利用者top</h1>
<p>Find me in app/views/learner/users/top.html.erb</p>
<%# jumbotron %>
<div class="jumbotron jumbotron-fluid first-image">
  <div class="mx-5">
    <h2 class="display-2 text-light">About</h2>
    <p class="lead text-light">This is a modified jumbotron that occupies</p><br>
			<p class="lead text-light">This is a modified jumbotron that occupies <br>
		the entire horizontal space of its parent.</p>
    <p class="lead text-light">This is a modified jumbotron that occupies <br>
		the entire horizontal space of its parent.</p>
    <p class="lead text-light">This is a modified jumbotron that occupies <br>
		the entire horizontal space of its parent.</p>
  </div>
</div>

<div class="jumbotron jumbotron-fluid second-image">
  <div class="mx-5 text-right">
    <h2 class="display-2 text-light">Study</h2>
    <p class="lead text-light">This is a modified jumbotron that occupies <br>
			<p class="lead text-light">This is a modified jumbotron that occupies <br>
		the entire horizontal space of its parent.</p>
    <p class="lead text-light">This is a modified jumbotron that occupies <br>
		the entire horizontal space of its parent.</p>
    <p class="lead text-light">This is a modified jumbotron that occupies <br>
		the entire horizontal space of its parent.</p>
  </div>
</div>

<div class="jumbotron jumbotron-fluid third-image">
  <div class="mx-5">
    <h2 class="display-2 text-light">Fun</h2>
    <p class="lead text-light">This is a modified jumbotron that occupies <br>
		the entire horizontal space of its parent.</p>
    <p class="lead text-light">This is a modified jumbotron that occupies <br>
		the entire horizontal space of its parent.</p>
    <p class="lead text-light">This is a modified jumbotron that occupies <br>
		the entire horizontal space of its parent.</p>
  </div>
</div>

<div class="jumbotron jumbotron-fluid fourth-image">
  <div class="mx-5 text-right">
    <h2 class="display-2 text-light">Joy</h2>
    <p class="lead text-light">This is a modified jumbotron that occupies <br>
		the entire horizontal space of its parent.</p>
    <p class="lead text-light">This is a modified jumbotron that occupies <br>
		the entire horizontal space of its parent.</p>
    <p class="lead text-light">This is a modified jumbotron that occupies <br>
		the entire horizontal space of its parent.</p>
  </div>
</div>

<div class="jumbotron jumbotron-fluid fifth-image">
  <div class="mx-5">
    <%= link_to "サインイン", new_learner_user_registration_path, class: "btn btn-primary btn-lg sign-up-bottom" %>
    <%= link_to "ログイン", new_learner_user_session_path, class: "btn btn-success btn-lg sign-in-bottom" %>
  </div>
</div>

<script>
$(".splash-container").click(function () {
  $(this).fadeOut("slow");
});
</script>