<div class="bg-img bg-welcome">
  <div class="blur_filter d-flex">
    <div class="card col-lg-6 m-auto" style="background: rgba(255,255,255,0.7);">
      <div class="card-body">
        <h2 class="text-center">ようこそ  <%= current_learner_user.name %>さん</h2>
        <p class="text-center">プロフィールの登録ができます。 <br> スキップして後で登録することも可能です。</p>
        <%= form_with model: @user, url: learner_user_path(@user), local: true do |f| %>
        <div class="form-row align-items-center">
          <div class="col-lg-9 mb-3 mx-auto">
            <div class="item-image text-center">
              <%= attachment_image_tag current_learner_user, :image, id: "prev_image", fallback: "no_image.jpg", size:"100x100", style: "border-radius: 18px;", onClick: "$('#change_image').click()" %>
              <%= f.attachment_field :image, id: "change_image" %>
              <i class="fas fa-sync-alt fa-2x fa-fw" onClick="$('#change_image').click()" ></i>
              <%= f.label :language, "プロフィール画像を登録" %>
            </div>
          </div>          
          <div class="col-lg-9 mb-3 mx-auto">
            <%= f.label :language, "学習言語を登録" %>
            <%= f.collection_select :language, @languages, :language, :language, {prompt: "選択してください"}, class: "custom-select mr-sm-2" %><br>
          </div>
          <div class="col-lg-9 mb-3 mx-auto">
            <%= f.label :level, "学習レベルを登録" %>
            <%= f.select :level, User.levels.keys.map {|k| [k, k]},{}, class: "custom-select mr-sm-2" %>
          </div>
          <div class="col-lg-9 mb-3 mx-auto">
            <%= f.label :introduction, "自己紹介(140文字以内)" %>
            <%= f.text_area :introduction, class: "form-control", rows: "3" %>
          </div>
          <div class="col-lg-9 mb-3 mx-auto text-center">
            <button class="main-btn mx-2" name="welcome">登録</button>
            <%= link_to "スキップ", learner_articles_path(welcome:""), class: "sub-btn align-top mx-2" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>