<div class="bg-img bg-admin">
  <div class="blur_filter d-flex">
    <div class="card col-lg-6 m-auto" style="background: rgba(255,255,255,0.7);">
      <div class="card-body">
        <h2 class="text-center">管理者 LOG IN</h2>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="col-lg-9 mb-3 mx-auto">
            <%= f.label :email, "メールアドレス" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>
          <div class="col-lg-9 mb-3 mx-auto">
            <%= f.label :password, "パスワード" %><br />
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
          </div>
          <div class="col-lg-9 mb-3 mx-auto text-center">
            <div class="form-check mx-auto">
              <% if devise_mapping.rememberable? %>
                <div class="field mx-auto">
                  <%= f.check_box :remember_me, class: "form-check-label" %>
                  <%= f.label :remember_me, "ログイン状態を保持しますか？" %>
                </div>
              <% end %>
            </div>
            <%= f.submit "Log in", class: "btn btn-outline-primary" %>
          </div>
          <div class="col-lg-9 mb-3 mx-auto text-center">
          <%= link_to "NoM", new_learner_user_session_path, class: "btn btn-outline-warning"  %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>