<%= attachment_image_tag data, :image, size: "100x100", fallback: "no_image.jpg", style: "border-radius: 18px;" %>
<ul class="list-group list-group-flush">
  <li class="list-group-item">ユーザー名：<%= data.name %></li>
  <li class="list-group-item">メール：<%= data.email %></li>
  <li class="list-group-item">自己紹介：<%= data.introduction %></li>
  <li class="list-group-item">学習言語：<%= data.language %></li>
  <li class="list-group-item">レベル：<%= data.level %></li>
  <li class="list-group-item">登録日：<%= l data.created_at %></li>
  <li class="list-group-item">最終ログイン：<%= l data.current_sign_in_at %></li>
  <li class="list-group-item">投稿数：<%= data.articles.count %></li>
  <li class="list-group-item">最終投稿日：<%= l data.articles.last.created_at if data.articles.present? %></li>
  <li class="list-group-item">コメント数：<%= data.comments.count %></li>
  <li class="list-group-item">フォロー数：<%= data.following.count %></li>
  <li class="list-group-item">フォロワー数：<%= data.followers.count %></li>
  <li class="list-group-item">お気に入り数：<%= data.favorites.count %></li>
</ul>