<div class="admin-bg">
  <div class="container">
    <h1>Top</h1>
    <h3 class="text-right mx-4">
      <%= l Time.zone.now %>現在
    </h3>
    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <i class="fas fa-user-friends">ユーザー</i>
            </button>
          </h2>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body pb-1">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                    <th scope="col" colspan="3">
                      <%= link_to '利用者数', admin_users_path %>
                    </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row" colspan="2">累計</th>
                  <td><%= @users.count %>名</td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td>本日登録者数</td>
                  <td><%= @users_today.nil? ? 0 : @users_today.count %>名</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <i class="fas fa-edit">投稿</i>
            </button>
          </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body pb-1">
            <%# 投稿数 %>
            <table class="table">
              <thead class="thead-light">
                <tr>
                    <th scope="col" colspan="3">
                      <%= link_to '投稿記事', admin_articles_path %>
                    </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row" colspan="2">累計</th>
                  <td><%= @articles.count %>件</td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td>投稿数（本日）</td>
                  <td><%= @articles_today.nil? ? 0 : @articles_today.count %>件</td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td>映画記事</td>
                  <td><%= @movie_articles %></td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td>tipcorn</td>
                  <td><%= @tipcorn_articles %></td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td>感情分析(-0.5以下)</td>
                  <td><%= @negative_articles.size %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <i class="far fa-comments">コメント</i>
            </button>
          </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body pb-1">
            <%# コメント %>
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col" colspan="4">
                    <%= link_to 'コメント', admin_comments_path %>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row" colspan="2">累計</th>
                  <td><%= @comments.count %></td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td>コメント数（本日）</td>
                  <td><%= @comments_today.nil? ? 0 : @comments_today.count %></td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td>感情分析(-0.5以下)</td>
                  <td><%= @negative_comments.size %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingFour">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              <i class="fas fa-tags">タグ</i>
            </button>
          </h2>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
          <div class="card-body pb-1">
            <%# タグ %>
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th scope="col" colspan="4">
                    <%= link_to 'タグ', admin_tags_path %>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row" colspan="3">累計</th>
                  <td><%= @tags.count %></td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td>投稿数（本日）</td>
                  <td colspan="3"><%= @tags_today.nil? ? 0 : @tags_today.count %></td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td>感情分析(-0.5以下)</td>
                  <td><%= @negative_tags.size %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingFive">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              <i class="fas fa-trophy">ランキング</i>
            </button>
          </h2>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
          <div class="card-body pb-1">
            <%# 予備 %>
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col" colspan="5">閲覧数ランキング</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row"></th>
                  <td>投稿記事タイトル</td>
                  <td>ユーザー</td>
                  <td>閲覧数</td>
                  <td>投稿日時</td>
                </tr>
                <% @pv_ranking.eager_load([:user]).each.with_index(1) do |article, i| %>
                  <tr>
                    <th scope="row"><%= i %></th>
                    <td><%= article.title %></td>
                    <td><%= article.user.name %></td>
                    <td><%= article.impressions_count %></td>
                    <td><%= l article.created_at %></td>
                  </tr>
                <% end %>
                </tr>
              </tbody>
            </table>              
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col" colspan="5">投稿数ランキング</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row"></th>
                  <td>ユーザー名</td>
                  <td>投稿数</td>
                  <td>登録日</td>
                  <td>学習言語</td>
                </tr>
                <% @user_ranking.each.with_index(1) do |user, i| %>
                  <tr>
                    <th scope="row"><%= i %></th>
                    <td><%= user.name %></td>
                    <td><%= user.articles.size %></td>
                    <td><%= l user.created_at %></td>
                    <td><%= user.language %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>